.includeCheckboxContainer {
  display: flex;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.includeCheckboxContainer p {
  font-size: 1.2rem;
  cursor: pointer;
}

input[type="checkbox"] {
  accent-color: var(--primary);
  cursor: pointer;
}